* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(240, 240, 210);
}

body {
  height: 100%;
  margin: 0px;
}

button {
  cursor: pointer;
}

div.footer {
  flex: 1;
  display: flex;
  padding: 3%;
  width: 100%;
  background-color: white;
  box-shadow: 0px -5px 30px #141414;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  bottom: 0px;
  font-size: 11px;
  color: #646464;
}
