.content {
  text-align: center;
  width: 50%;
}

.content h2 {
  font-weight: 700;
  font-size: 24px;
}

.content h4 {
  font-weight: 500;
  font-size: 18px;
}

.content p {
  font-size: 14px;
  text-align: left;
}

.requestContainer {
  display: flex;
  flex-direction: column;
  gap: 6px;
  background-color: antiquewhite;
  align-items: left;
}

#submit {
  background-color: rgb(190, 20, 20);
  padding: 10px;
  color: white !important;
  cursor: pointer;
  margin-top: 10px;
}

.dynamicDataContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.dynamicDataContainer div {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 6px;
  align-items: center;
}

.rowContainer {
  display: flex;
  width: 350px;
  min-width: 250px;
  min-height: 50px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 20px;
  background-color: rgb(255, 225, 185);
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
